.chatbox{
   position: fixed;
   height: 100%;
   right: 10px;
   bottom: 25px;
   z-index: 10;
}

.chatbox .hidden-chatbox{
   position: fixed;
   height: 80%;
   right: 10px;
   bottom: 25px;
}

img#micImg{
   margin-top: 3px;
   margin-left: 40%;
   width: 18%;
   height: 18%;
}

button#rec{
   margin-left: 30%;
   height: 15px;
}

#input[type=text]{
   margin-top: 3px;
   width: 285px;
}

