.chatbox{
   position: fixed;
   height: 100%;
   right: 10px;
   bottom: 25px;
   z-index: 10;
}

.chatbox .hidden-chatbox{
   position: fixed;
   height: 80%;
   right: 10px;
   bottom: 25px;
}

button#rec{
   margin-left: 30%;
   height: 15px;
}

#input[type=text]{
   width: 285px;
}

